.title{
    font-family: 'Roboto';
    font-size: 65px;
    color: '#ffffff';
    font-weight: bold;
    text-align: center;
    
}

body{
    background: rgb(0,0,0);
    color: rgb(255,255,255);
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.resources-container {
    background-color: #cbffc6;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}

h2 {
    margin-top: 0;
    color: #333;
    font-size: 24px;
    text-align: center;
}

.resource-item {
    display: flex;
    align-items: center;
    background-color: #51cf46;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.resource-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
}

.resource-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.resource-link:hover {
    color: #0056b3;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #cbffc6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    z-index: 100;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    text-align: center;
}

.nav-link:hover {
    text-decoration: underline;
}